html {
    background-color: black;
    color: #E3BCAF;
    text-align: center;
    font-family: sans-serif;
}

p, h1 {
	margin-bottom: 0;
	margin-top: 2px;
}

/* Center the game */
canvas {
    margin: 0 auto;
}